.DS_store
# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.example

# Fresh build directory
_fresh/
# npm + other dependencies
node_modules/
vendor/

# Generated OG images (can be regenerated using scripts)
static/og/
